:root {
  --backgroundblue: #73d2de;
  --darkblue: rgb(1, 41, 87);
  --orange: #fbb13c;
  --darkpink: #d81159;
  --alertred: rgb(214, 30, 6);
  --alertgreen: rgba(6, 214, 160);
}

body {
  background-color: var(--backgroundblue);
  font-family: "Poppins", sans-serif;
}
