:root {
  --backgroundyellow: rgba(255, 209, 102);
  --darkblue: rgb(1, 41, 87);
  --orange: rgba(247, 140, 107);
  --darkpink: rgba(239, 71, 110);
  --alertred: rgb(214, 30, 6);
  --alertgreen: rgba(6, 214, 160);
}

body {
  background-color: var(--backgroundyellow);
  font-family: "Poppins", sans-serif;
}
