.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.loginForm {
  background-color: rgba(239, 71, 110);
  border-radius: 20px;
  box-shadow: 10px 10px 20px;
  padding: 10px;
  min-width: 260px;
}
.loginForm > div:first-child {
  margin-top: 0px;
}
.loginForm > div:last-child {
  margin-bottom: 0px;
}
.loginForm > div {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.loginForm > div > label {
  align-self: center;
  padding-bottom: 9px;
}

.loginForm > div > input {
  height: 20px;
  width: 80%;
  align-self: center;
  border-radius: 4px;
  box-shadow: 3px 3px 3px;
}

.loginForm > div > button {
  width: 60px;
  height: 25px;
  align-self: center;
  border-radius: 20px;
  text-transform: uppercase;
}
.loginForm > div > button:hover {
  text-decoration: none;
}

.loginForm > div > a > p {
  text-align: center;
  font-size: 10px;
}
