.userListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

.userCardContainer {
  width: 200px;
  margin: 20px;
  background-color: var(--orange);
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 8px 8px 1px 2px var(--darkblue);
  border: 1px solid var(--darkblue);
}
.userCardContainer:hover {
  box-shadow: 0px 0px 0px;
  transform: translate(10px, 10px);
}
.userCardContainer > .imgContainer {
  text-align: center;
}
.userCardContainer > .imgContainer > img {
  margin-top: 10px;
  border-radius: 50%;
}

.userCardContainer > .nameContainer {
  margin-top: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

/*****************Delete Button*****************/

.userCardContainer > button {
  align-self: center;
  background-color: var(--orange);
  border: none;
}
.userCardContainer > button > span {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.274);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 15px;
  margin-top: -6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.userCardContainer > button:hover .tooltiptext {
  visibility: visible;
}

/*****************Social Container*****************/

.socialDiv {
  display: flex;
  justify-content: center;
}
.socialIcons {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.socialIcons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
}

.socialIcons .iconContainer {
  position: absolute;
  top: 13px;
  left: 13px;
  transition: all 265ms ease-out;
}

.socialIcons a {
  display: inline-block;
  color: white;
}

.socialIcons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: var(--darkblue);
  transition: all 700ms ease-in-out;
}

.socialIcons a:hover:before {
  transform: scale(0);
  transition: all 400ms ease-in;
}

.socialIcons a:hover .iconContainer {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  color: var(--darkblue);
  transition: all 400ms ease-in;
}

@media only screen and (min-width: 768px) {
  .userCardContainer {
    width: 400px;
    margin: 30px;
  }
  .userCardContainer > .imgContainer {
    width: 150px;
  }
  .userCardContainer > .nameContainer {
    width: 230px;
    text-align: right;
    margin-left: 170px;
    margin-top: -130px;
  }
  .userCardContainer > .emailContainer {
    width: 230px;
    text-align: right;
    margin-left: 170px;
  }
  .userCardContainer > .socialDiv {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1024px) {
  .userCardContainer {
    margin: 40px;
  }
}
