.userListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

.userCardContainer {
  width: 200px;
  margin: 20px;
}

.userCardContainer > .imgContainer {
  text-align: center;
}
.userCardContainer > .imgContainer > img {
  margin-top: 10px;
  border-radius: 50%;
}

.userCardContainer > .nameContainer {
  margin-top: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.userCardContainer {
  background-color: rgba(247, 140, 107);
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 10px 10px 0 3px rgb(4, 57, 75);
}

.userCardContainer > button {
  /* position: relative;
  display: inline-block; */
  align-self: center;
  background-color: rgba(247, 140, 107);
  border: none;
}
.userCardContainer > button > span {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.274);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 15px;
  margin-top: -6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.userCardContainer > button:hover .tooltiptext {
  visibility: visible;
}
